{"swagger":"2.0","info":{"description":"Provides create, retrieve, update and delete (CRUD) services for  Acumos data including solutions, artifacts and users.  All service endpoints require basic HTTP authentication.","version":"3.0.1-b701","title":"Acumos Common Data Service REST API","termsOfService":"Terms of service","contact":{"name":"Acumos Dev Team","url":"http://acumos.readthedocs.io/en/latest/submodules/common-dataservice/docs/","email":"noreply@acumos.org"},"license":{"name":"Apache 2.0 License","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"cognita-dev1-vm01-core.eastus.cloudapp.azure.com:8001","basePath":"/ccds","tags":[{"name":"access-controller","description":"Access Controller"},{"name":"artifact-controller","description":"Artifact Controller"},{"name":"catalog-controller","description":"Catalog Controller"},{"name":"code-table-controller","description":"Code Table Controller"},{"name":"document-controller","description":"Document Controller"},{"name":"healthcheck-controller","description":"Healthcheck Controller"},{"name":"license-controller","description":"License Controller"},{"name":"notification-controller","description":"Notification Controller"},{"name":"peer-controller","description":"Peer Controller"},{"name":"publish-request-controller","description":"Publish Request Controller"},{"name":"revision-controller","description":"Revision Controller"},{"name":"right-to-use-controller","description":"Right To Use Controller"},{"name":"role-controller","description":"Role Controller"},{"name":"site-controller","description":"Site Controller"},{"name":"solution-controller","description":"Solution Controller"},{"name":"tag-controller","description":"Tag Controller"},{"name":"task-controller","description":"Task Controller"},{"name":"thread-controller","description":"Thread Controller"},{"name":"user-controller","description":"User Controller"},{"name":"workbench-controller","description":"Workbench Controller"}],"paths":{"/access/catalog/{catalogId}/peer":{"get":{"tags":["access-controller"],"summary":"Gets the list of peers with access to the specified restricted catalog; empty if none are found.","operationId":"getCatalogAccessPeersUsingGET","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPPeer","$ref":"#/definitions/MLPPeer"}}},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/access/peer/{peerId}/catalog":{"get":{"tags":["access-controller"],"summary":"Gets the list of catalog IDs accessible to the specified peer; empty if none are found.","operationId":"getPeerAccessCatalogIdsUsingGET","produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/access/peer/{peerId}/catalog/{catalogId}":{"get":{"tags":["access-controller"],"summary":"Checks if the specified peer can read the specified catalog. Returns non-zero if yes, zero if no.","operationId":"checkPeerAccessToCatalogUsingGET","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["access-controller"],"summary":"Add read access to the specified restricted catalog for the specified peer. Answers bad request if an ID is invalid.","operationId":"addPeerAccessCatalogUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["access-controller"],"summary":"Removes read access to the specified restricted catalog for the specified peer.","operationId":"dropPeerAccessCatalogUsingDELETE","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/access/peer/{peerId}/solution/{solutionId}":{"get":{"tags":["access-controller"],"summary":"Checks if the specified peer can read the specified solution. Returns non-zero if yes, zero if no.","operationId":"checkPeerAccessToSolutionUsingGET","produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/access/solution/{solutionId}/user":{"get":{"tags":["access-controller"],"summary":"Gets the list of users who were granted write access to the specified solution.","operationId":"getSolutionAccessUsersUsingGET","produces":["application/json"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPUser","$ref":"#/definitions/MLPUser"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/access/solution/{solutionId}/user/{userId}":{"post":{"tags":["access-controller"],"summary":"Grants write permission for the specified user to the specified solution. Returns bad request if an ID is not found","operationId":"addSolutionUserAccessUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["access-controller"],"summary":"Removes write permission for the specified user from the specified solution. Returns bad request if an ID is not found","operationId":"dropSolutionUserAccessUsingDELETE","produces":["application/json"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/access/user/{userId}/solution":{"get":{"tags":["access-controller"],"summary":"Gets a page of solutions for which the user has write permission but is not the owner, optionally sorted on fields. Answers empty if none are found.","operationId":"getUserAccessSolutionsUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPSolution","$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/access/user/{userId}/solution/{solutionId}":{"get":{"tags":["access-controller"],"summary":"Checks if the specified user can read the specified solution. Returns non-zero if yes, zero if no.","operationId":"checkUserAccessToSolutionUsingGET","produces":["application/json"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/artifact":{"get":{"tags":["artifact-controller"],"summary":"Gets a page of artifacts, optionally sorted; empty if none are found.","operationId":"getArtifactsUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPArtifact","$ref":"#/definitions/MLPArtifact"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["artifact-controller"],"summary":"Creates a new artifact and generates an ID if needed. Returns bad request on bad URI, constraint violation etc.","operationId":"createArtifactUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"artifact","description":"artifact","required":true,"schema":{"originalRef":"MLPArtifact","$ref":"#/definitions/MLPArtifact"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPArtifact","$ref":"#/definitions/MLPArtifact"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/artifact/count":{"get":{"tags":["artifact-controller"],"summary":"Gets the count of artifacts.","operationId":"getArtifactCountUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/artifact/like":{"get":{"tags":["artifact-controller"],"summary":"Searches for artifacts with names or descriptions that contain the search term using the like operator; empty if no matches are found.","operationId":"findArtifactsBySearchTermUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"term","in":"query","description":"term","required":true,"type":"string"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPArtifact","$ref":"#/definitions/MLPArtifact"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/artifact/search":{"get":{"tags":["artifact-controller"],"summary":"Searches for artifacts with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchArtifactsUsingGET","produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","allowEmptyValue":false,"enum":["a","o"]},{"name":"artifactTypeCode","in":"query","description":"artifactTypeCode","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"},{"name":"uri","in":"query","description":"uri","required":false,"type":"string"},{"name":"userId","in":"query","description":"userId","required":false,"type":"string"},{"name":"version","in":"query","description":"version","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPArtifact","$ref":"#/definitions/MLPArtifact"}},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/artifact/{artifactId}":{"get":{"tags":["artifact-controller"],"summary":"Gets the artifact with the specified ID. Returns null if the ID is not found.","operationId":"getArtifactUsingGET","produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPArtifact","$ref":"#/definitions/MLPArtifact"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["artifact-controller"],"summary":"Updates an existing artifact with the supplied data. Returns bad request on bad URI, constraint violation etc.","operationId":"updateArtifactUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"artifact","description":"artifact","required":true,"schema":{"originalRef":"MLPArtifact","$ref":"#/definitions/MLPArtifact"}},{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["artifact-controller"],"summary":"Deletes the artifact with the specified ID. Cascades delete to related records.","operationId":"deleteArtifactUsingDELETE","produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/artifact/{artifactId}/revision":{"get":{"tags":["artifact-controller"],"summary":"Gets the solution revisions that use the specified artifact.","operationId":"getRevisionsForArtifactUsingGET","produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPSolutionRevision","$ref":"#/definitions/MLPSolutionRevision"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/catalog":{"get":{"tags":["catalog-controller"],"summary":"Gets a page of catalogs, optionally sorted. Answers empty if none are found.","operationId":"getCatalogsUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPCatalog","$ref":"#/definitions/MLPCatalog"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["catalog-controller"],"summary":"Creates a new catalog and generates an ID if needed. Returns bad request on bad URL, constraint violation etc.","operationId":"createCatalogUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"catalog","description":"catalog","required":true,"schema":{"originalRef":"MLPCatalog","$ref":"#/definitions/MLPCatalog"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPCatalog","$ref":"#/definitions/MLPCatalog"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/catalog/pubs":{"get":{"tags":["catalog-controller"],"summary":"Gets the set of distinct catalog publishers. Answers empty if none are found.","operationId":"getCatalogPublishersUsingGET","produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/catalog/search":{"get":{"tags":["catalog-controller"],"summary":"Searches for catalogs with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchCatalogsUsingGET","produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","allowEmptyValue":false,"enum":["a","o"]},{"name":"accessTypeCode","in":"query","description":"accessTypeCode","required":false,"type":"string"},{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"origin","in":"query","description":"origin","required":false,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"publisher","in":"query","description":"publisher","required":false,"type":"string"},{"name":"selfPublish","in":"query","description":"selfPublish","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"},{"name":"url","in":"query","description":"url","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPCatalog","$ref":"#/definitions/MLPCatalog"}},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/catalog/solution":{"get":{"tags":["catalog-controller"],"summary":"Gets a page of solutions in the specified catalogs, optionally sorted; empty if none are found.","operationId":"getSolutionsInCatalogsUsingGET","produces":["application/json"],"parameters":[{"name":"ctlg","in":"query","description":"Catalog IDs","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPSolution","$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/catalog/solution/{solutionId}":{"get":{"tags":["catalog-controller"],"summary":"Gets the catalogs where the specified solution is published; empty if none are found.","operationId":"getSolutionCatalogsUsingGET","produces":["application/json"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPCatalog","$ref":"#/definitions/MLPCatalog"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/catalog/user/{userId}/favorite":{"get":{"tags":["catalog-controller"],"summary":"Gets the list of catalog IDs that are favorites of the specified user; empty if none are found.","operationId":"getUserFavoriteCatalogIdsUsingGET","produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/catalog/{catalogId}":{"get":{"tags":["catalog-controller"],"summary":"Gets the catalog for the specified ID. Returns null if the ID is not found.","operationId":"getCatalogUsingGET","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPCatalog","$ref":"#/definitions/MLPCatalog"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["catalog-controller"],"summary":"Updates an existing catalog with the supplied data. Returns bad request on bad URI, constraint violation etc.","operationId":"updateCatalogUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"catalog","description":"catalog","required":true,"schema":{"originalRef":"MLPCatalog","$ref":"#/definitions/MLPCatalog"}},{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["catalog-controller"],"summary":"Deletes the catalog with the specified ID. Cascades delete to related tables. Returns bad request if the ID is not found.","operationId":"deleteCatalogUsingDELETE","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/catalog/{catalogId}/solution/count":{"get":{"tags":["catalog-controller"],"summary":"Gets the count of solutions in the specified catalog.","operationId":"getCatalogSolutionCountUsingGET","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/catalog/{catalogId}/solution/{solutionId}":{"post":{"tags":["catalog-controller"],"summary":"Publishes the specified solution to the specified catalog. Answers bad request if an ID is invalid.","operationId":"addSolutionToCatalogUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"in":"body","name":"map","description":"map","required":true,"schema":{"originalRef":"MLPCatSolMap","$ref":"#/definitions/MLPCatSolMap"}},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["catalog-controller"],"summary":"Removes the specified solution from the specified solution.","operationId":"dropSolutionFromCatalogUsingDELETE","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/catalog/{catalogId}/user/{userId}/favorite":{"post":{"tags":["catalog-controller"],"summary":"Marks the specified catalog as a favorite of the specified user. Answers bad request if an ID is invalid.","operationId":"addUserFavoriteCatalogUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["catalog-controller"],"summary":"Removes the specified catalog as a favorite of the specified user.","operationId":"dropUserFavoriteCatalogUsingDELETE","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/code/pair":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of value set names that can be used to fetch code-name pairs.","operationId":"getValueSetNamesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/code/pair/{name}":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of code-name pairs for the specified value set. Returns bad request if the value set is not found.","operationId":"getCodeNamePairsUsingGET","produces":["application/json"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPCodeNamePair","$ref":"#/definitions/MLPCodeNamePair"}}},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/document":{"post":{"tags":["document-controller"],"summary":"Creates a new document object and generates an ID if needed. Returns bad request on bad URI, constraint violation etc.","operationId":"createDocumentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"document","description":"document","required":true,"schema":{"originalRef":"MLPDocument","$ref":"#/definitions/MLPDocument"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPDocument","$ref":"#/definitions/MLPDocument"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/document/{documentId}":{"get":{"tags":["document-controller"],"summary":"Gets the document object for the specified ID. Returns null if the ID is not found.","operationId":"getDocumentUsingGET","produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPDocument","$ref":"#/definitions/MLPDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["document-controller"],"summary":"Updates an existing document with the supplied data. Returns bad request on bad URI, constraint violation etc.","operationId":"updateDocumentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"document","description":"document","required":true,"schema":{"originalRef":"MLPDocument","$ref":"#/definitions/MLPDocument"}},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["document-controller"],"summary":"Deletes the document with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteDocumentUsingDELETE","produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/healthcheck":{"get":{"tags":["healthcheck-controller"],"summary":"Checks the health of the application by querying the database.","operationId":"getHealthUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/lic/templ":{"get":{"tags":["license-controller"],"summary":"Gets a page of license profile templates, optionally sorted on fields. Returns empty if none are found.","operationId":"getLicenseProfileTemplatesUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPLicenseProfileTemplate","$ref":"#/definitions/MLPLicenseProfileTemplate"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["license-controller"],"summary":"Creates a new license profile template. Returns bad request on constraint violation etc.","operationId":"createLicenseProfileTemplateUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"template","description":"template","required":true,"schema":{"originalRef":"MLPLicenseProfileTemplate","$ref":"#/definitions/MLPLicenseProfileTemplate"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPLicenseProfileTemplate","$ref":"#/definitions/MLPLicenseProfileTemplate"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/lic/templ/{licenseId}":{"get":{"tags":["license-controller"],"summary":"Gets the license profile template for the specified ID. Returns null if not found.","operationId":"getLicenseProfileTemplateUsingGET","produces":["application/json"],"parameters":[{"name":"licenseId","in":"path","description":"licenseId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPLicenseProfileTemplate","$ref":"#/definitions/MLPLicenseProfileTemplate"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["license-controller"],"summary":"Updates an existing license profile template with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateLicenseProfileTemplateUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"licenseId","in":"path","description":"licenseId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"licenseTemplate","description":"licenseTemplate","required":true,"schema":{"originalRef":"MLPLicenseProfileTemplate","$ref":"#/definitions/MLPLicenseProfileTemplate"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["license-controller"],"summary":"Deletes the license profile template with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteLicenseProfileTemplateUsingDELETE","produces":["application/json"],"parameters":[{"name":"licenseId","in":"path","description":"licenseId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/notif":{"get":{"tags":["notification-controller"],"summary":"Gets a page of notifications, optionally sorted; empty if none are found.","operationId":"getNotificationsUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPNotification","$ref":"#/definitions/MLPNotification"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["notification-controller"],"summary":"Creates a new notification and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createNotificationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"notif","description":"notif","required":true,"schema":{"originalRef":"MLPNotification","$ref":"#/definitions/MLPNotification"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPNotification","$ref":"#/definitions/MLPNotification"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/notif/count":{"get":{"tags":["notification-controller"],"summary":"Gets the count of notifications.","operationId":"getNotificationCountUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/notif/notifpref":{"post":{"tags":["notification-controller"],"summary":"Creates a new user notification preference. Returns bad request on constraint violation etc.","operationId":"createUserNotificationPreferenceUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"usrNotifPref","description":"usrNotifPref","required":true,"schema":{"originalRef":"MLPUserNotifPref","$ref":"#/definitions/MLPUserNotifPref"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPUserNotifPref","$ref":"#/definitions/MLPUserNotifPref"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/notif/notifpref/user/{userId}":{"get":{"tags":["notification-controller"],"summary":"Gets notification preferences for the specified user ID. Returns empty if not found.","operationId":"getNotificationPreferencesForUserUsingGET","produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPUserNotifPref","$ref":"#/definitions/MLPUserNotifPref"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/notif/notifpref/{userNotifPrefId}":{"get":{"tags":["notification-controller"],"summary":"Gets the user notification preference for the specified ID. Returns null if the ID is not found.","operationId":"getUserNotificationPreferenceUsingGET","produces":["application/json"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPUserNotifPref","$ref":"#/definitions/MLPUserNotifPref"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["notification-controller"],"summary":"Updates an existing user notification preference with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateUserNotificationPreferenceUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"usrNotifPref","description":"usrNotifPref","required":true,"schema":{"originalRef":"MLPUserNotifPref","$ref":"#/definitions/MLPUserNotifPref"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["notification-controller"],"summary":"Deletes the user notification preference with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteUserNotificationPreferenceUsingDELETE","produces":["application/json"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/notif/user/{userId}":{"get":{"tags":["notification-controller"],"summary":"Gets a page of active notifications for the specified user; returns empty if none are found.","operationId":"getUserNotificationsUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPUserNotification","$ref":"#/definitions/MLPUserNotification"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/notif/user/{userId}/unread/count":{"get":{"tags":["notification-controller"],"summary":"Gets the count of unread active notifications for the specified user.","operationId":"getUserUnreadNotificationCountUsingGET","produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/notif/{notificationId}":{"put":{"tags":["notification-controller"],"summary":"Updates an existing notification with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateNotificationUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"notif","description":"notif","required":true,"schema":{"originalRef":"MLPNotification","$ref":"#/definitions/MLPNotification"}},{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["notification-controller"],"summary":"Deletes the notification with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteNotificationUsingDELETE","produces":["application/json"],"parameters":[{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/notif/{notificationId}/user/{userId}":{"post":{"tags":["notification-controller"],"summary":"Adds the specified user as a recipient of the notification. Returns bad request if an ID is not found.","operationId":"addUserNotificationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"notifUserMap","description":"notifUserMap","required":true,"schema":{"originalRef":"MLPNotifUserMap","$ref":"#/definitions/MLPNotifUserMap"}},{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["notification-controller"],"summary":"Records that the user viewed the notification by storing the current date and time. Returns bad request if an ID is not found.","operationId":"updateUserNotificationUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"notifUserMap","description":"notifUserMap","required":true,"schema":{"originalRef":"MLPNotifUserMap","$ref":"#/definitions/MLPNotifUserMap"}},{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["notification-controller"],"summary":"Drops the specified user as a recipient of the notification.","operationId":"dropUserRecipientUsingDELETE","produces":["application/json"],"parameters":[{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/peer":{"get":{"tags":["peer-controller"],"summary":"Gets a page of peers, optionally sorted; empty if none are found.","operationId":"getPeersUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPeer","$ref":"#/definitions/MLPPeer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["peer-controller"],"summary":"Creates a new peer and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createPeerUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"peer","description":"peer","required":true,"schema":{"originalRef":"MLPPeer","$ref":"#/definitions/MLPPeer"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPeer","$ref":"#/definitions/MLPPeer"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/peer/search":{"get":{"tags":["peer-controller"],"summary":"Searches for peers with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchPeersUsingGET","produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","allowEmptyValue":false,"enum":["a","o"]},{"name":"apiUrl","in":"query","description":"apiUrl","required":false,"type":"string"},{"name":"contact1","in":"query","description":"contact1","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"self","in":"query","description":"self","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"statusCode","in":"query","description":"statusCode","required":false,"type":"string"},{"name":"subjectName","in":"query","description":"subjectName","required":false,"type":"string"},{"name":"unpaged","in":"query","required":false,"type":"boolean"},{"name":"webUrl","in":"query","description":"webUrl","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPeer","$ref":"#/definitions/MLPPeer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/peer/sub":{"post":{"tags":["peer-controller"],"summary":"Creates a new entity with a generated ID. Returns bad request on constraint violation etc.","operationId":"createPeerSubUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"peerSub","description":"peerSub","required":true,"schema":{"originalRef":"MLPPeerSubscription","$ref":"#/definitions/MLPPeerSubscription"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPeerSubscription","$ref":"#/definitions/MLPPeerSubscription"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/peer/sub/{subId}":{"get":{"tags":["peer-controller"],"summary":"Gets the peer subscription for the specified ID. Returns null if not found.","operationId":"getPeerSubUsingGET","produces":["application/json"],"parameters":[{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPeerSubscription","$ref":"#/definitions/MLPPeerSubscription"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["peer-controller"],"summary":"Updates an existing peer subscription with the supplied data. Returns bad request on constraint violation etc.","operationId":"updatePeerSubUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"peerSub","description":"peerSub","required":true,"schema":{"originalRef":"MLPPeerSubscription","$ref":"#/definitions/MLPPeerSubscription"}},{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["peer-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deletePeerSubUsingDELETE","produces":["application/json"],"parameters":[{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/peer/{peerId}":{"get":{"tags":["peer-controller"],"summary":"Gets the peer with the specified ID. Returns null if the ID is not found.","operationId":"getPeerUsingGET","produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPeer","$ref":"#/definitions/MLPPeer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["peer-controller"],"summary":"Updates an existing peer with the supplied data. Returns bad request on constraint violation etc.","operationId":"updatePeerUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"peer","description":"peer","required":true,"schema":{"originalRef":"MLPPeer","$ref":"#/definitions/MLPPeer"}},{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["peer-controller"],"summary":"Deletes the peer with the specified ID. Cascades delete to peer subscriptions. Returns bad request if the ID is not found.","operationId":"deletePeerUsingDELETE","produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/peer/{peerId}/sub":{"get":{"tags":["peer-controller"],"summary":"Gets all subscriptions for the specified peer. Returns empty if none are found","operationId":"getPeerSubsUsingGET","produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPPeerSubscription","$ref":"#/definitions/MLPPeerSubscription"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/peer/{peerId}/sub/count":{"get":{"tags":["peer-controller"],"summary":"Gets count of subscriptions for the specified peer.","operationId":"getPeerSubCountUsingGET","produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pubreq":{"get":{"tags":["publish-request-controller"],"summary":"Gets a page of publish requests, optionally sorted on fields. Returns empty if none are found.","operationId":"getPublishRequestsUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPublishRequest","$ref":"#/definitions/MLPPublishRequest"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["publish-request-controller"],"summary":"Creates a new publish request with a generated ID. Returns bad request on constraint violation etc.","operationId":"createPublishRequestUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"pubReq","description":"pubReq","required":true,"schema":{"originalRef":"MLPPublishRequest","$ref":"#/definitions/MLPPublishRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPublishRequest","$ref":"#/definitions/MLPPublishRequest"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pubreq/search":{"get":{"tags":["publish-request-controller"],"summary":"Searches for publish requests with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchPublishRequestsUsingGET","produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","allowEmptyValue":false,"enum":["a","o"]},{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"requestUserId","in":"query","description":"requestUserId","required":false,"type":"string"},{"name":"reviewUserId","in":"query","description":"reviewUserId","required":false,"type":"string"},{"name":"revisionId","in":"query","description":"revisionId","required":false,"type":"string"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"solutionId","in":"query","description":"solutionId","required":false,"type":"string"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"statusCode","in":"query","description":"statusCode","required":false,"type":"string"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPublishRequest","$ref":"#/definitions/MLPPublishRequest"}},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/pubreq/{requestId}":{"get":{"tags":["publish-request-controller"],"summary":"Gets the publish request for the specified ID. Returns null if the ID is not found.","operationId":"getPublishRequestUsingGET","produces":["application/json"],"parameters":[{"name":"requestId","in":"path","description":"requestId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPPublishRequest","$ref":"#/definitions/MLPPublishRequest"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["publish-request-controller"],"summary":"Updates an existing publish request with the supplied data. Returns bad request on constraint violation etc.","operationId":"updatePublishRequestUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"pubReq","description":"pubReq","required":true,"schema":{"originalRef":"MLPPublishRequest","$ref":"#/definitions/MLPPublishRequest"}},{"name":"requestId","in":"path","description":"requestId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["publish-request-controller"],"summary":"Deletes the publish request with the specified ID. Returns bad request if the ID is not found.","operationId":"deletePublishRequestUsingDELETE","produces":["application/json"],"parameters":[{"name":"requestId","in":"path","description":"requestId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/revision/{revisionId}/artifact":{"get":{"tags":["revision-controller"],"summary":"Gets the artifacts for the specified solution revision. Answers empty if none are found.","operationId":"getSolutionRevisionArtifactsUsingGET","produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPArtifact","$ref":"#/definitions/MLPArtifact"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/revision/{revisionId}/artifact/{artifactId}":{"post":{"tags":["revision-controller"],"summary":"Adds the specified artifact to the specified solution revision. Returns bad request on constraint violation etc.","operationId":"addSolutionRevisionArtifactUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["revision-controller"],"summary":"Removes the specified artifact from the specified solution revision.","operationId":"dropSolutionRevisionArtifactUsingDELETE","produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/revision/{revisionId}/catalog/{catalogId}/descr":{"get":{"tags":["revision-controller"],"summary":"Gets the description for the specified revision and catalog. Returns null if not found.","operationId":"getRevCatDescriptionUsingGET","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRevCatDescription","$ref":"#/definitions/MLPRevCatDescription"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["revision-controller"],"summary":"Creates a new description for the specified revision and catalog. Returns bad request if an ID is not found.","operationId":"createRevCatDescriptionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"in":"body","name":"description","description":"description","required":true,"schema":{"originalRef":"MLPRevCatDescription","$ref":"#/definitions/MLPRevCatDescription"}},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRevCatDescription","$ref":"#/definitions/MLPRevCatDescription"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["revision-controller"],"summary":"Updates an existing description with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateRevCatDescriptionUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"in":"body","name":"description","description":"description","required":true,"schema":{"originalRef":"MLPRevCatDescription","$ref":"#/definitions/MLPRevCatDescription"}},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["revision-controller"],"summary":"Deletes the description with the specified IDs. Returns bad request if the ID is not found.","operationId":"deleteRevCatDescriptionUsingDELETE","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/revision/{revisionId}/catalog/{catalogId}/document":{"get":{"tags":["revision-controller"],"summary":"Gets the documents for the specified revision and catalog.","operationId":"getRevCatDocumentsUsingGET","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPDocument","$ref":"#/definitions/MLPDocument"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/revision/{revisionId}/catalog/{catalogId}/document/{documentId}":{"post":{"tags":["revision-controller"],"summary":"Adds a user document to the specified revision and catalog.","operationId":"addRevisionDocumentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["revision-controller"],"summary":"Removes a document from the specified revision and catalog.","operationId":"dropRevisionDocumentUsingDELETE","produces":["application/json"],"parameters":[{"name":"catalogId","in":"path","description":"catalogId","required":true,"type":"string"},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/role":{"get":{"tags":["role-controller"],"summary":"Gets a page of roles, optionally sorted on fields. Returns empty if none are found.","operationId":"getRolesUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRole","$ref":"#/definitions/MLPRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["role-controller"],"summary":"Creates a new role and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createRoleUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"role","description":"role","required":true,"schema":{"originalRef":"MLPRole","$ref":"#/definitions/MLPRole"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRole","$ref":"#/definitions/MLPRole"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/role/count":{"get":{"tags":["role-controller"],"summary":"Gets the count of roles.","operationId":"getRoleCountUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"originalRef":"CountTransport","$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/role/search":{"get":{"tags":["role-controller"],"summary":"Searches for roles with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchRolesUsingGET","produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","allowEmptyValue":false,"enum":["a","o"]},{"name":"active","in":"query","description":"active","required":false,"type":"boolean"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRole","$ref":"#/definitions/MLPRole"}},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/role/{roleId}":{"get":{"tags":["role-controller"],"summary":"Gets the role for the specified ID. Returns null if the ID is not found.","operationId":"getRoleUsingGET","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRole","$ref":"#/definitions/MLPRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["role-controller"],"summary":"Updates an existing role with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateRoleUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"role","description":"role","required":true,"schema":{"originalRef":"MLPRole","$ref":"#/definitions/MLPRole"}},{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["role-controller"],"summary":"Deletes the role with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteRoleUsingDELETE","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/role/{roleId}/function":{"get":{"tags":["role-controller"],"summary":"Gets the functions for the specified role. Returns empty if none are found.","operationId":"getRoleFunctionsUsingGET","produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"MLPRoleFunction","$ref":"#/definitions/MLPRoleFunction"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["role-controller"],"summary":"Creates a new role function and generates an ID. Returns bad request on constraint violation etc.","operationId":"createRoleFunctionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"roleFunction","description":"roleFunction","required":true,"schema":{"originalRef":"MLPRoleFunction","$ref":"#/definitions/MLPRoleFunction"}},{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRoleFunction","$ref":"#/definitions/MLPRoleFunction"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/role/{roleId}/function/{functionId}":{"get":{"tags":["role-controller"],"summary":"Gets the role function with the specified ID. Returns null if not found.","operationId":"getRoleFunctionUsingGET","produces":["application/json"],"parameters":[{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"},{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRoleFunction","$ref":"#/definitions/MLPRoleFunction"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["role-controller"],"summary":"Updates an existing role function with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateRoleFunctionUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"},{"in":"body","name":"roleFunction","description":"roleFunction","required":true,"schema":{"originalRef":"MLPRoleFunction","$ref":"#/definitions/MLPRoleFunction"}},{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["role-controller"],"summary":"Deletes the role function with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteRoleFunctionUsingDELETE","produces":["application/json"],"parameters":[{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"},{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SuccessTransport","$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/rtu":{"get":{"tags":["right-to-use-controller"],"summary":"Gets a page of right-to-use objects, optionally sorted on fields. Returns empty if none are found.","operationId":"getRightToUsesUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRightToUse","$ref":"#/definitions/MLPRightToUse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["right-to-use-controller"],"summary":"Creates a new RTU object and generates an ID. Returns bad request on constraint violation etc.","operationId":"createRightToUseUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"rtu","description":"rtu","required":true,"schema":{"originalRef":"MLPRightToUse","$ref":"#/definitions/MLPRightToUse"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRightToUse","$ref":"#/definitions/MLPRightToUse"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rtu/ref":{"get":{"tags":["right-to-use-controller"],"summary":"Gets a page of RTU references, optionally sorted. Answers empty if none are found.","operationId":"getRtuRefsUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"paged","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sort.sorted","in":"query","required":false,"type":"boolean"},{"name":"sort.unsorted","in":"query","required":false,"type":"boolean"},{"name":"unpaged","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRtuReference","$ref":"#/definitions/MLPRtuReference"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["right-to-use-controller"],"summary":"Creates a new RTU reference. Returns bad request on constraint violation etc.","operationId":"createRtuRefUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"ref","description":"ref","required":true,"schema":{"originalRef":"MLPRtuReference","$ref":"#/definitions/MLPRtuReference"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MLPRtuReference","$ref":"#/definitions/MLPRtuReference"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"originalRef":"ErrorTransport","$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/rtu/ref/{referenceId}":{"get":{"tags":["right-to-use-controller"],"summary":"Gets the right-to-use objects to which the specified reference is mapped. Returns empty if none are found.","operationId":"getRtusByReferenceUsingGET","produces":["application/json"],"parameters":[{"name":"referenceId","in":"path","description":"referenceId","required":true,"type":"string"}],"responses":{"200":{"d
[...]
