{"swagger":"2.0","info":{"description":"Provides create, retrieve, update and delete (CRUD) services for  Acumos data including solutions, artifacts and users.  All service endpoints require basic HTTP authentication.","version":"1.18.4-b309","title":"Acumos Common Data Service REST API","termsOfService":"Terms of service","contact":{"name":"Acumos Dev Team","url":"http://acumos.readthedocs.io/en/latest/submodules/common-dataservice/docs/","email":"noreply@acumos.org"},"license":{"name":"Apache 2.0 License","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"cognita-dev1-vm01-core.eastus.cloudapp.azure.com:8000","basePath":"/ccds","tags":[{"name":"publish-request-controller","description":"Publish Request Controller"},{"name":"healthcheck-controller","description":"Healthcheck Controller"},{"name":"artifact-controller","description":"Artifact Controller"},{"name":"dataset-controller","description":"Dataset Controller"},{"name":"role-controller","description":"Role Controller"},{"name":"solution-controller","description":"Solution Controller"},{"name":"validation-sequence-controller","description":"Validation Sequence Controller"},{"name":"notification-controller","description":"Notification Controller"},{"name":"thread-controller","description":"Thread Controller"},{"name":"tag-controller","description":"Tag Controller"},{"name":"document-controller","description":"Document Controller"},{"name":"step-result-controller","description":"Step Result Controller"},{"name":"group-peer-solution-controller","description":"Group Peer Solution Controller"},{"name":"user-controller","description":"User Controller"},{"name":"revision-controller","description":"Revision Controller"},{"name":"code-table-controller","description":"Code Table Controller"},{"name":"site-config-controller","description":"Site Config Controller"},{"name":"peer-controller","description":"Peer Controller"}],"paths":{"/artifact":{"get":{"tags":["artifact-controller"],"summary":"Gets a page of artifacts, optionally sorted.","operationId":"getArtifactsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPArtifact"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["artifact-controller"],"summary":"Creates a new entity and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createArtifactUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"artifact","description":"artifact","required":true,"schema":{"$ref":"#/definitions/MLPArtifact"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPArtifact"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/artifact/count":{"get":{"tags":["artifact-controller"],"summary":"Gets the count of artifacts.","operationId":"getArtifactCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/artifact/like":{"get":{"tags":["artifact-controller"],"summary":"Searches for entities with names or descriptions that contain the search term using the like operator.","operationId":"likeUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"term","in":"query","description":"term","required":true,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPArtifact"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/artifact/search":{"get":{"tags":["artifact-controller"],"summary":"Searches for artifacts with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchArtifactsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","enum":["a","o"]},{"name":"artifactTypeCode","in":"query","description":"Artifact type code","required":false,"type":"string"},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"uri","in":"query","description":"URI","required":false,"type":"string"},{"name":"version","in":"query","description":"Version","required":false,"type":"string"},{"name":"userId","in":"query","description":"User ID","required":false,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPArtifact"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/artifact/{artifactId}":{"get":{"tags":["artifact-controller"],"summary":"Gets the entity for the specified ID. Returns bad request if the ID is not found.","operationId":"getArtifactUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPArtifact"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["artifact-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateArtifactUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"},{"in":"body","name":"artifact","description":"artifact","required":true,"schema":{"$ref":"#/definitions/MLPArtifact"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["artifact-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteArtifactUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/artifact/{artifactId}/revision":{"get":{"tags":["artifact-controller"],"summary":"Gets the solution revisions that use the specified artifact ID.","operationId":"getRevisionsForArtifactUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPSolutionRevision"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/code/access/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of access type codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getAccessTypeListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/artifact/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of artifact type codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getArtifactTypeListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/deploy/status":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of deployment status codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getDeploymentStatusListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/logprov":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of login provider codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getLoginProviderListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/model/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of model type codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getModelTypeListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/msgsev":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of message severity codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getMessageSeverityListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/notifmech":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of notification delivery mechanism codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getNotificationDeliveryMechanismListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/pair":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of value set names that can be used to fetch code-name pairs.","operationId":"getValueSetNamesUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/code/pair/{name}":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of code-name pairs for the specified value set. Returns bad request if the value set is not found.","operationId":"getCodeNamePairsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/code/peer/status":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of peer status codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getPeerStatusListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/step/status":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of step status codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getStepStatusListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/step/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of step type codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getStepTypeListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/sub/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of subscription scope codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getSubscriptionScopesUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/toolkit/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of toolkit type codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getToolkitTypeListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/val/status":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of validation status codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getValidationStatusListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/val/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of validation type codes. This is DEPRECATED, use getCodeNamePairs with the appropriate value-set name.","operationId":"getValidationTypeListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/config":{"post":{"tags":["site-config-controller"],"summary":"Creates a new site configuration record. Returns bad request on constraint violation etc.","operationId":"createSiteConfigUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"siteConfig","description":"siteConfig","required":true,"schema":{"$ref":"#/definitions/MLPSiteConfig"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSiteConfig"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/config/{configKey}":{"get":{"tags":["site-config-controller"],"summary":"Gets the site configuration value for the specified key.","operationId":"getSiteConfigUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"configKey","in":"path","description":"configKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["site-config-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateSiteConfigUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"configKey","in":"path","description":"configKey","required":true,"type":"string"},{"in":"body","name":"siteConfig","description":"siteConfig","required":true,"schema":{"$ref":"#/definitions/MLPSiteConfig"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["site-config-controller"],"summary":"Deletes the entity with the specified key. Returns bad request if the ID is not found.","operationId":"deleteSiteConfigUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"configKey","in":"path","description":"configKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/dataset/{datasetId}":{"get":{"tags":["dataset-controller"],"summary":"Gets the dataset for the specified ID. Returns bad request if the ID is not found.","operationId":"getDatasetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datasetId","in":"path","description":"datasetId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/document":{"post":{"tags":["document-controller"],"summary":"Creates a new entity and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createDocumentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"document","description":"document","required":true,"schema":{"$ref":"#/definitions/MLPDocument"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPDocument"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/document/{documentId}":{"get":{"tags":["document-controller"],"summary":"Gets the entity for the specified ID. Returns bad request if the ID is not found.","operationId":"getDocumentUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPDocument"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["document-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateDocumentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"},{"in":"body","name":"document","description":"document","required":true,"schema":{"$ref":"#/definitions/MLPDocument"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["document-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteDocumentUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/peer":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of peer groups, optionally sorted.","operationId":"getPeerGroupsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["group-peer-solution-controller"],"summary":"Creates a new entity with a generated ID. Returns bad request on constraint violation etc.","operationId":"createPeerGroupUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"group","description":"group","required":true,"schema":{"$ref":"#/definitions/MLPPeerGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerGroup"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/solution":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of peer-solution membership mappings, optionally sorted.","operationId":"getPeerSolutionGroupMapsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerSolAccMap"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/{peerGroupId}/solution/{solutionGroupId}":{"post":{"tags":["group-peer-solution-controller"],"summary":"Grants access for the specified peer group to the specified solution group.","operationId":"mapPeerSolutionGroupsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerGroupId","in":"path","description":"peerGroupId","required":true,"type":"integer","format":"int64"},{"name":"solutionGroupId","in":"path","description":"solutionGroupId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"map","description":"map","required":true,"schema":{"$ref":"#/definitions/MLPPeerSolAccMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Removes access for the specified peer group to the specified solution group.","operationId":"unmapPeerSolutionGroupsUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerGroupId","in":"path","description":"peerGroupId","required":true,"type":"integer","format":"int64"},{"name":"solutionGroupId","in":"path","description":"solutionGroupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/peer/{peerId}/access":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets peers accessible to the specified peer.","operationId":"getPeerAccessListUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPPeer"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/{peerId}/solution":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of non-public solutions accessible to specified peer","operationId":"getRestrictedSolutionsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/{peerId}/solution/{solutionId}/access":{"get":{"tags":["group-peer-solution-controller"],"summary":"Checks access for the specified peer to the specified solution.","operationId":"checkPeerSolutionAccessUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPEntity"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/{principalGroupId}/peer/{resourceGroupId}":{"post":{"tags":["group-peer-solution-controller"],"summary":"Grants access for the specified principal peer group to the specified resource peer group.","operationId":"mapPeerPeerGroupsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"principalGroupId","in":"path","description":"principalGroupId","required":true,"type":"integer","format":"int64"},{"name":"resourceGroupId","in":"path","description":"resourceGroupId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"map","description":"map","required":true,"schema":{"$ref":"#/definitions/MLPPeerPeerAccMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Removes access for the specified principal peer group to the specified resource peer group.","operationId":"unmapPeerPeerGroupsUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"principalGroupId","in":"path","description":"principalGroupId","required":true,"type":"integer","format":"int64"},{"name":"resourceGroupId","in":"path","description":"resourceGroupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/solution":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of solution groups, optionally sorted.","operationId":"getSolutionGroupsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["group-peer-solution-controller"],"summary":"Creates a new entity with a generated ID. Returns bad request on constraint violation etc.","operationId":"createSolutionGroupUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"group","description":"group","required":true,"schema":{"$ref":"#/definitions/MLPSolutionGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionGroup"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/{groupId}/peer":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of peer members of the specified peer group, optionally sorted.","operationId":"getPeersInGroupUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionGroup"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["group-peer-solution-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updatePeerGroupUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"group","description":"group","required":true,"schema":{"$ref":"#/definitions/MLPPeerGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deletePeerGroupUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/{groupId}/peer/{peerId}":{"post":{"tags":["group-peer-solution-controller"],"summary":"Adds the specified peer as a member of the specified peer group.","operationId":"addPeerToGroupUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"in":"body","name":"map","description":"map","required":true,"schema":{"$ref":"#/definitions/MLPPeerGrpMemMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Drops the specified peer as a member of the specified peer group.","operationId":"dropPeerFromGroupUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/{groupId}/solution":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of solution members in the specified solution group, optionally sorted.","operationId":"getSolutionsInGroupUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionGroup"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["group-peer-solution-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateSolutionGroupUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"group","description":"group","required":true,"schema":{"$ref":"#/definitions/MLPSolutionGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteSolutionGroupUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/{groupId}/solution/{solutionId}":{"post":{"tags":["group-peer-solution-controller"],"summary":"Adds the specified solution as a member of the specified solution group.","operationId":"addSolutionToGroupUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"in":"body","name":"map","description":"map","required":true,"schema":{"$ref":"#/definitions/MLPSolGrpMemMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Drops the specified solution as a member of the specified solution group.","operationId":"dropSolutionFromGroupUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/healthcheck":{"get":{"tags":["healthcheck-controller"],"summary":"Assesses the health of the application by querying the database.","operationId":"getHealthUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif":{"get":{"tags":["notification-controller"],"summary":"Gets a page of notifications, optionally sorted.","operationId":"getNotificationsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPNotification"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["notification-controller"],"summary":"Creates a new notification and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createNotificationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"notif","description":"notif","required":true,"schema":{"$ref":"#/definitions/MLPNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPNotification"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif/count":{"get":{"tags":["notification-controller"],"summary":"Gets the count of notifications.","operationId":"getNotificationCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif/notifpref":{"post":{"tags":["notification-controller"],"summary":"Creates a new user notification preference. Returns bad request on constraint violation etc.","operationId":"createUserNotificationPreferenceUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"usrNotifPref","description":"usrNotifPref","required":true,"schema":{"$ref":"#/definitions/MLPUserNotifPref"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUserNotifPref"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif/notifpref/user/{userId}":{"get":{"tags":["notification-controller"],"summary":"Gets notification preferences for the specified user ID.","operationId":"getNotificationPreferencesForUserUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPUserNotifPref"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif/notifpref/{userNotifPrefId}":{"get":{"tags":["notification-controller"],"summary":"Gets the user notification preference for the specified ID. Returns bad request if the ID is not found.","operationId":"getUserNotificationPreferenceUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUserNotifPref"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["notification-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateUserNotificationPreferenceUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"usrNotifPref","description":"usrNotifPref","required":true,"schema":{"$ref":"#/definitions/MLPUserNotifPref"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["notification-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteUserNotificationPreferenceUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/notif/user/{userId}":{"get":{"tags":["notification-controller"],"summary":"Gets active notifications for the specified user ID.","operationId":"getActiveNotificationsForUserUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPUserNotification"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif/{notificationId}":{"put":{"tags":["notification-controller"],"summary":"Updates an existing notification with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateNotificationUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"},{"in":"body","name":"notif","description":"notif","required":true,"schema":{"$ref":"#/definitions/MLPNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["notification-controller"],"summary":"Deletes the notification with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteNotificationUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/notif/{notificationId}/user/{userId}":{"post":{"tags":["notification-controller"],"summary":"Adds a user as a recipient of the notification. Returns bad request if an ID is not found.","operationId":"addUserNotificationUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"},{"in":"body","name":"notifUserMap","description":"notifUserMap","required":true,"schema":{"$ref":"#/definitions/MLPNotifUserMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["notification-controller"],"summary":"Records the date when the user viewed the notification in the notification-user mapping table. Returns bad request if an ID is not found.","operationId":"updateUserNotificationUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"},{"in":"body","name":"notifUserMap","description":"notifUserMap","required":true,"schema":{"$ref":"#/definitions/MLPNotifUserMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["notification-controller"],"summary":"Drops a user as a recipient of the notification.","operationId":"dropUserRecipientUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/peer":{"get":{"tags":["peer-controller"],"summary":"Gets a page of peers, optionally sorted.","operationId":"getPeersUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["peer-controller"],"summary":"Creates a new entity and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createPeerUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"peer","description":"peer","required":true,"schema":{"$ref":"#/definitions/MLPPeer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeer"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/peer/search":{"get":{"tags":["peer-controller"],"summary":"Searches for peers with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchPeersUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","enum":["a","o"]},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"subjectName","in":"query","description":"Subject name","required":false,"type":"string"},{"name":"apiUrl","in":"query","description":"API URL","required":false,"type":"string"},{"name":"webUrl","in":"query","description":"Web URL","required":false,"type":"string"},{"name":"isSelf","in":"query","description":"isSelf","required":false,"type":"boolean"},{"name":"isLocal","in":"query","description":"isLocal","required":false,"type":"boolean"},{"name":"contact1","in":"query","description":"Contact 1","required":false,"type":"string"},{"name":"statusCode","in":"query","description":"Status code","required":false,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/peer/sub":{"post":{"tags":["peer-controller"],"summary":"Creates a new entity with a generated ID. Returns bad request on constraint violation etc.","operationId":"createPeerSubUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"peerSub","description":"peerSub","required":true,"schema":{"$ref":"#/definitions/MLPPeerSubscription"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerSubscription"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/peer/sub/{subId}":{"get":{"tags":["peer-controller"],"summary":"Gets the peer subscription for the specified ID.","operationId":"getPeerSubUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerSubscription"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["peer-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updatePeerSubUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"peerSub","description":"peerSub","required":true,"schema":{"$ref":"#/definitions/MLPPeerSubscription"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["peer-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deletePeerSubUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/peer/{peerId}":{"get":{"tags":["peer-controller"],"summary":"Gets the entity for the specified ID. Returns bad request if the ID is not found.","operationId":"getPeerUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeer"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["peer-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updatePeerUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"in":"body","name":"peer","description":"peer","required":true,"schema":{"$ref":"#/definitions/MLPPeer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["peer-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deletePeerUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/peer/{peerId}/sub":{"get":{"tags":["peer-controller"],"summary":"Gets all subscriptions for the specified peer.","operationId":"getPeerSubsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPPeerSubscription"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pubreq":{"get":{"tags":["publish-request-controller"],"summary":"Gets a page of publish requests, optionally sorted on fields.","operationId":"getPublishRequestsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPublishRequest"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["publish-request-controller"],"summary":"Creates a new request with a generated ID. Returns bad request on constraint violation etc.","operationId":"createPublishRequestUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"publishRequest","description":"publishRequest","required":true,"schema":{"$ref":"#/definitions/MLPPublishRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPublishRequest"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pubreq/search":{"get":{"tags":["publish-request-controller"],"summary":"Searches for requests with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchPublishRequestsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","enum":["a","o"]},{"name":"solutionId","in":"query","description":"Solution ID","required":false,"type":"string"},{"name":"revisionId","in":"query","description":"Revision ID","required":false,"type":"string"},{"name":"requestUserId","in":"query","description":"Request user ID","required":false,"type":"string"},{"name":"reviewUserId","in":"query","description":"Review user ID","required":false,"type":"string"},{"name":"statusCode","in":"query","description":"Status code","required":false,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPublishRequest"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pubreq/{requestId}":{"get":{"tags":["publish-request-controller"],"summary":"Gets the request for the specified ID. Returns bad request if the ID is not found.","operationId":"getPublishRequestUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"requestId","in":"path","description":"requestId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPublishRequest"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["publish-request-controller"],"summary":"Updates an existing request with the supplied data. Returns bad request on constraint violation etc.","operationId":"updatePublishRequestUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"requestId","in":"path","description":"requestId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"publishRequest","description":"publishRequest","required":true,"schema":{"$ref":"#/definitions/MLPPublishRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["publish-request-controller"],"summary":"Deletes the request with the specified ID. Returns bad request if the ID is not found.","operationId":"deletePublishRequestUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"requestId","in":"path","description":"requestId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/revision/{revisionId}/access/{accessTypeCode}/descr":{"get":{"tags":["revision-controller"],"summary":"Gets the revision description for the specified access type. Returns bad request if an ID is not found.","operationId":"getRevisionDescriptionUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"accessTypeCode","in":"path","description":"accessTypeCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRevisionDescription"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["revision-controller"],"summary":"Creates a new description for the specified revision and access type. Returns bad request if an ID is not found.","operationId":"createRevisionDescriptionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"accessTypeCode","in":"path","description":"accessTypeCode","required":true,"type":"string"},{"in":"body","name":"description","description":"description","required":true,"schema":{"$ref":"#/definitions/MLPRevisionDescription"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRevisionDescription"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["revision-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateRevisionDescriptionUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"accessTypeCode","in":"path","description":"accessTypeCode","required":true,"type":"string"},{"in":"body","name":"description","description":"description","required":true,"schema":{"$ref":"#/definitions/MLPRevisionDescription"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["revision-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteRevisionDescriptionUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"accessTypeCode","in":"path","description":"accessTypeCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/revision/{revisionId}/access/{accessTypeCode}/document":{"get":{"tags":["revision-controller"],"summary":"Gets the documents for the specified revision and access type.","operationId":"getSolRevDocumentsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"accessTypeCode","in":"path","description":"accessTypeCode","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPDocument"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/revision/{revisionId}/access/{accessTypeCode}/document/{documentId}":{"post":{"tags":["revision-controller"],"summary":"Adds a user document to the specified revision and access type.","operationId":"addRevisionDocumentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"accessTypeCode","in":"path","description":"accessTypeCode","required":true,"type":"string"},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["revision-controller"],"summary":"Removes a user document from the specified revision and access type.","operationId":"dropRevisionDocumentUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"accessTypeCode","in":"path","description":"accessTypeCode","required":true,"type":"string"},{"name":"documentId","in":"path","description":"documentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/revision/{revisionId}/artifact":{"get":{"tags":["revision-controller"],"summary":"Gets the artifacts for the revision.","operationId":"getRevisionArtifactsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPArtifact"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/revision/{revisionId}/artifact/{artifactId}":{"post":{"tags":["revision-controller"],"summary":"Adds an artifact to the revision.","operationId":"addRevisionArtifactUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["revision-controller"],"summary":"Removes an artifact from the revision.","operationId":"dropRevisionArtifactUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/role":{"get":{"tags":["role-controller"],"summary":"Gets a page of roles, optionally sorted on fields.","operationId":"getRolesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["role-controller"],"summary":"Creates a new entity and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createRoleUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"role","description":"role","required":true,"schema":{"$ref":"#/definitions/MLPRole"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRole"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role/count":{"get":{"tags":["role-controller"],"summary":"Gets the count of roles.","operationId":"getRoleCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role/search":{"get":{"tags":["role-controller"],"summary":"Searches for roles with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchRolesUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","enum":["a","o"]},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"active","in":"query","description":"Active","required":false,"type":"boolean"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRole"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role/{roleId}":{"get":{"tags":["role-controller"],"summary":"Gets the entity for the specified ID. Returns bad request if the ID is not found.","operationId":"getRoleUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRole"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["role-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateRoleUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"in":"body","name":"role","description":"role","required":true,"schema":{"$ref":"#/definitions/MLPRole"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["role-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteRoleUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/role/{roleId}/function":{"get":{"tags":["role-controller"],"summary":"Gets the functions for the specified role. Returns bad request if the ID is not found.","operationId":"getListOfRoleFuncUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPRoleFunction"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["role-controller"],"summary":"Creates a new entity and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createRoleFuncUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"in":"body","name":"roleFunction","description":"roleFunction","required":true,"schema":{"$ref":"#/definitions/MLPRoleFunction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRoleFunction"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role/{roleId}/function/{functionId}":{"get":{"tags":["role-controller"],"summary":"Gets the role function for the specified role and function IDs. Returns bad request if an ID is not found.","operationId":"getRoleFuncUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRoleFunction"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["role-controller"],"summary":"Updates an existing entity with the supplied data. Returns bad request on constraint violation etc.","operationId":"updateRoleFuncUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"},{"in":"body","name":"roleFunction","description":"roleFunction","required":true,"schema":{"$ref":"#/definitions/MLPRoleFunction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["role-controller"],"summary":"Deletes the entity with the specified ID. Returns bad request if the ID is not found.","operationId":"deleteRoleFuncUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution":{"get":{"tags":["solution-controller"],"summary":"Gets a page of solutions, optionally sorted.","operationId":"getSolutionsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["solution-controller"],"summary":"Creates a new entity and generates an ID if needed. Returns bad request on constraint violation etc.","operationId":"createSolutionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"solution","description":"solution","required":true,"schema":{"$ref":"#/definitions/MLPSolution"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"201":{"description":"Created"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/count":{"get":{"tags":["solution-controller"],"summary":"Gets the count of solutions.","operationId":"getSolutionCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search":{"get":{"tags":["solution-controller"],"summary":"Searches for peers with attributes matching the values specified as query parameters. Defaults to match all (conjunction); send junction query parameter '_j=o' to match any (disjunction).","operationId":"searchSolutionsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"_j","in":"query","description":"Junction","required":false,"type":"string","enum":["a","o"]},{"name":"name","in":"query","description":"Name","required":false,"type":"string"},{"name":"active","in":"query","description":"Active","required":false,"type":"boolean"},{"name":"userId","in":"query","description":"User ID","required":false,"type":"string"},{"name":"sourceId","in":"query","description":"Source ID","required":false,"type":"string"},{"name":"modelTypeCode","in":"query","description":"Model type code","required":false,"type":"string"},{"name":"toolkitTypeCode","in":"query","description":"Toolkit type code","required":false,"type":"string"},{"name":"origin","in":"query","description":"Origin URI","required":false,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/date":{"get":{"tags":["solution-controller"],"summary":"Finds solutions based on specified date, active status and access type query parameters. Limits result to solutions modified after the specified time, expressed in milliseconds since the Epoch.","operationId":"findSolutionsByDateUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"datems","in":"query","description":"Milliseconds since the Epoch","required":true,"type":"integer","format":"int64"},{"name":"active","in":"query","description":"Active Y/N","required":false,"type":"boolean"},{"name":"atc","in":"query","description":"Access type codes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"vsc","in":"query","description":"Validation status codes (deprecated)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/like":{"get":{"tags":["solution-controller"],"summary":"Searches for entities with names or descriptions that contain the search term using the like operator.","operationId":"findSolutionsByLikeKeywordUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"term","in":"query","description":"term","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/portal":{"get":{"tags":["solution-controller"],"summary":"Finds solutions with attribute values and/or child attribute values matching the field name - field value pairs specified as query parameters. Supports faceted search; i.e., check for kw1 in name, kw2 in description and so on.","operationId":"findPortalSolutionsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"active","in":"query","description":"Active Y/N","required":true,"type":"boolean"},{"name":"atc","in":"query","description":"Access type codes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"mtc","in":"query","description":"Model type codes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"vsc","in":"query","description":"Validation status codes (deprecated)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"user","in":"query","description":"User IDs","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"tag","in":"query","description":"Tags","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"name","in":"query","description":"Name key words","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"desc","in":"query","description":"Description key words","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"auth","in":"query","description":"Author key words","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pub","in":"query","description":"Publisher key words","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/portal/kw":{"get":{"tags":["solution-controller"],"summary":"Finds solutions matching the specified attribute values and/or child attribute values. Checks multiple fields for the supplied keywords, including ID, name, description etc.","operationId":"findPortalSolutionsByKwUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"active","in":"query","description":"Active Y/N","required":true,"type":"boolean"},{"name":"atc","in":"query","description":"Access type codes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"mtc","in":"query","description":"Model type codes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"kw","in":"query","description":"Key words","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"user","in":"query","description":"User IDs","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"tag","in":"query","description":"Tags","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/portal/kwtag":{"get":{"tags":["solution-controller"],"summary":"Finds solutions matching the specified attribute values and/or child attribute values  with flexible handling of tags to allow all/any matches.  Checks multiple fields for the supplied keywords, including ID, name, description etc.","operationId":"findPortalSolutionsByKwAndTagsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"active","in":"query","description":"Active Y/N","required":true,"type":"boolean"},{"name":"atc","in":"query","description":"Access type codes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"mtc","in":"query","description":"Model type codes","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"kw","in":"query","description":"Key words","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"user","in":"query","description":"User IDs","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"alltag","in":"query","description":"All tags, solution must have every one","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"anytag","in":"query","description":"Any tags, solution must have at least one","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/tag":{"get":{"tags":["solution-controller"],"summary":"Gets a page of solutions matching the specified tag.","operationId":"findSolutionsByTagUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"tag","in":"query","description":"tag","required":true,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page.","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"descriptio
[...]
